.bottom-ads-container {
  position: fixed;
  width: 50%;
  height: 200px;
  /* top: 0; */
  /* left: 10%; */
  right: 25%;
  bottom: 0;
  /* transform: translate(-25%, -25%); */
  /* padding:2rem; */
  z-index: 1000;
  /* border-radius: 10px; */
  /* border: 1px solid #fff; */
  /* background-image: url("../Assets/images/def_img_05.jpg"); */
}
.bottom-ads-container img {
  position: fixed;
  width: 50%;
  height: auto;
  right: 25%;
  cursor: pointer;
  bottom: 0;
  z-index: 1000;
}

.bottom-ads-container p {
  color: #fff;
  font-size: 15px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.bottom-ads-container p:hover {
  /* color: rgba(211, 0, 253, 1); */
  color: #ff9735;
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .bottom-ads-container {
    top: 100%;
  }
  .bottom-ads-container img {
    top: 100%;
  }
}
