.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* padding-top: 1rem;
    padding-bottom: 1rem */
}
.toggle-type {
  margin: 1rem auto;
  width: 68%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.type-video-img {
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.4;
}
.type-video-img:hover {
  box-shadow: 0px 0px 30px rgba(211, 0, 253, 1);
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.type-focus {
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 30px rgba(211, 0, 253, 1);
}
.homeVideos-box {
  width: 68%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4,1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
  /* border: skyblue 1px solid; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* gap: 15px; */
  /* padding: 10px; */
  /* height:auto; */
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  /* border:1px solid rgb(255, 0, 0); */
  /* place-items: center; */
}
.item {
  /* background-color: #12100d83; */
  color: white;
  /* margin-top: 1rem; */
  margin-bottom: -0.5rem;
  /* opacity: 50%; */
  /* border:skyblue 1px solid; */
  /* padding: 20px; */
  /* background-image: url(../Assets/images//zien/zien_01.png);
    background-position: top 10px right 100px;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home h3 {
  color: #ff9735;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.loading-btn {
  margin-top: 2rem;
  width: 150px;
  height: 36px;
  border-radius: 15px;
  background-color: #1a1a1a;
  color: #43a4ce;
  cursor: pointer;
}
.loading-btn:hover {
  background-color: #1a1a1a;
  color: #d4a764;
}
.home-top-ads:hover {
  box-shadow: 0px 0px 30px rgba(211, 0, 253, 0.456);
  /* border:6px solid rgba(211, 0, 253, 0.393); */
}

@media (max-width: 550px) {
  .toggle-type {
    width: 80%;
  }
  .type-video-img {
    /* width: 150px; */
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .type-focus {
    /* width: 150px; */
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}

@media only screen and(max-width: 1300px) {
  .homeVideos {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .homeVideos {
    grid-template-columns: 1fr;
  }
}
