.navbar-box {
  width: 100%;
  height: auto;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.navbar {
  width: 100%;
  height: 80px;
  /* border: 1px solid #fff; */
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* justify-content: end; */
  /* justify-content: start; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* margin-top: 2rem; */
  margin-left: 2rem;
  /* flex-wrap: wrap; */
}
.account-box {
  height: 30px;
  /* border: 1px solid #fff; */
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  color: rgb(162, 162, 162);
  text-decoration: none;
  /* margin-bottom: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  /* background-color: #1a1a1a; */
  /* width: 55px; */
  /* height: 30px; */
  /* border-radius: 25px; */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a:hover {
  color: rgb(255, 190, 92);
  font-weight: 1000;
  transition: 0.3s ease-in-out;
  /* background-color:#12100d; */
  /* box-shadow: 0px 10px 30px rgba(211, 0, 253, 0.8); */
}
.navbar .focus {
  font-weight: 800;
  font-size: 16px;
  color: rgba(211, 0, 253);
}

.navbar-logo {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;

  /* text-align: center; */
  /* color: #fff; */
  background-color: #12100d83;
}

.user-email {
  color: rgb(255, 193, 117);
}

.account-box svg {
  width: 28px;
  height: 28px;
}
.state-true {
  color: rgb(255, 105, 41);
}
.state-false {
  color: rgb(166, 166, 166);
}
.vip-icon {
  width: 15px;
  height: auto;
  padding-bottom: 15px;
  margin-left: -7px;
}
.login-icon {
  width: 25px;
  height: auto;
  margin-right: 2rem;
  margin-left: 2rem;
}
.login-icon:hover {
  width: 30px;
  height: auto;
  transition: 0.3s ease-in-out;
}

.out-icon {
  width: 25px;
  height: auto;
  margin-right: 2rem;
  margin-left: 2rem;
}
.out-icon:hover {
  width: 30px;
  height: auto;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 550px) {
  .navbar {
    margin-left: 0.5rem;
  }
  .navbar .focus {
    font-size: 14px;
  }
  .navbar a {
    font-size: 13px;
  }
  .login-icon {
    width: 20px;
    height: auto;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .out-icon {
    width: 20px;
    height: auto;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .account-box svg {
    width: 22px;
    height: 22px;
  }
}
