.other-container{
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.other-title{
    color:#ff9735;
    margin-top: -1rem;
    margin-bottom: -1rem; 
}
.other-consult{
    width: 60%;
    margin:1rem auto;
    background-color: #1a1a1a;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.other-text{
    color: rgb(255, 158, 66);
    line-height: 30px;
    font-size: 15px;
}

@media only screen and (max-width: 550px){ 
    .other-consult{
        width: 80%;
        height: auto;
    }
}