.share-container {
  width: 100%;
  margin: 0.2rem auto;
  /* border:1px solid rgb(255, 0, 0); */
  /* background-color: #12100d69; */
  /* border-radius: 25px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 30px; */
}
.share-info {
  width: 60%;
  margin: 1rem auto;
  background-color: #1a1a1a;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.share-info p {
  font-size: 15px;
  color: #ff5d27;
  line-height: 30px;
}
.share-tip {
  width: 60%;
  margin: 1rem auto;
  /* border:1px solid rgb(255, 0, 0); */
  background-color: #1a1a1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #e8b248;
}
.share-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.share-title h3 {
  color: #ff9735;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.source-link {
  width: 60%;
  margin: 1rem auto;
  /* border:1px solid rgb(255, 0, 0); */
  background-color: #12100d69;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.source-link p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.link-click {
  cursor: pointer;
}
.link-click:hover {
  color: #0065e1;
}
.title {
  color: #e8b248;
}
.link-box {
  display: flex;
  flex-direction: row;
}
.link-box p,
a {
  padding-right: 50px;
}
.show-button {
  border-radius: 20px;
  width: 120px;
  height: 36px;
  color: rgba(255, 255, 255, 0.664);
  background-color: #4d4d4d89;
  cursor: pointer;
}
.show-button:hover {
  color: rgb(255, 190, 92);
  /* background-color: #12100d83; */
  /* box-shadow: 0px 10px 30px rgba(211, 0, 253, 0.8); */
}
.show-button:active {
  background-color: #12100d83;
}

@media only screen and (max-width: 550px) {
  .share-info {
    width: 80%;
    height: auto;
  }
  .share-tip {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 500px) {
  /* .share-container{
        width: 90%;
    } */
  .link-box {
    flex-direction: column;
  }
}
